.navbar{
    position: fixed;
    background-color: white;
    /* width: 100%; */
    z-index: 1;
    top: 0;
}
.navbar .logo{
    width: 80px;
}
.section-one .cover{
    background-color: rgba(0, 0, 0, 0.497);
    margin-top: 8%;
    width: 100%;
    height: 83.5%;
    /* top: 0; */
    /* background-image: url('../../assets/banner.jpg'); */
}
.section-one .cover .king-img{
    width: 420px;
    height: 450px;
}
.section-one .cover .content{
    line-height: 1;
    padding-top: -40px;
    align-items: center;
}
.section-one .cover .content .name{
    font-size: 50px;
}
.section-two .title{
    /* color:rgb(20,109,167); */
    font-weight:450
}
.section-two .logo{
    width: 300px;
}

.section-two .cover{
    align-items: center;
    margin-top: 0px;
}
.section-three .slider{
    width: 100vw;
}
.section-four{
    background-color: rgb(238,238,238);
    height: 60vh;
    padding-top: 40px !important;
}
@media (max-width:600px) {
    .sm{
        display: none;
    }
    .section-one{
        background-image: url('../../assets/kingpic-removebg-preview.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 60vh;
        width: 100vw;
        top: 0%;
        margin-top: 0px;
    }
    .section-one .cover{
        height: 100%;
        padding: 5px !important;
    }
    .section-one .cover .d-lg-flex .content{
        height: 90vh;
        align-items: center;
    }
    .section-one .cover img{
        display: none;
    }
    .section-two .d-md-flex .content{
        width: 95vw !important;
        text-align: center;
    }
    .section-three .mission .title{
        text-align: center;
    }
    .section-three .slider{
        width: auto;
    }
    .section-four{
        height: 67vh;
    }
    .section-four .w-50 .table tr{
        height: 60px;
    }
    .section-four .w-50 .table tr td, .section-four .w-50 .table tr th{
        padding-top: 20px;
        text-align: center;
    }
}